{% extends "base.html" %}

{% block title %}Editar Perfil{% endblock title %}

{% block content %}
<main>
  {% if onboarding %}
    <h1>Complete seu Perfil ou <a href="{% url 'index' %}">Pular essa Parte</a></h1>
  {% else %}
    <h1>Edite seu Perfil</h1>
  {% endif %}

  <form action="{% url 'profile_edit' %}" method="post"  enctype="multipart/form-data" class="profile-form">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>
    {% if not onboarding %}
      <a type="button" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
    {% endif %}
  </form>
</main>
{% endblock content %}