{% extends "base.html" %}

{% block title %}Configurações{% endblock title %}

{% block content %}
<main>
  <h1>Configurações</h1>
  <div class="">
    <h2>Email</h2>
    <div id="email-address">
      <p>
        {% if user.email %}{{user.email}}{% else %}Sem Email{% endif %}
      </p>
      <p>Verificado: {{request.user.emailaddress.verified}}</p>
      {% if not request.user.emailaddress.verified %}
      <a hx-get="{% url 'email_verification' %}" hx-target="#email-response" hx-swap="innerHTML">Verificar Email</a>
      <div id="email-response"></div>
      {% endif %}

    </div>
    <a id="email-edit"
      hx-get="{% url 'profile_email_change' %}"
      hx-target="#email-address"
      hx-swap="innerHTML" >
      Edit
    </a>
  </div>
  <div class="">
    <h2>Deletar Conta</h2>
    <a href="{% url 'profile_delete' %}">Delete</a>
  </div>
</main>
{% endblock content %}