{% extends "base.html" %}

{% block title %}Configurações{% endblock title %}

{% block content %}
<main>
  <h1>Configurações</h1>
  <div class="">
    <h2>Email</h2>
    <div id="email-address">
      <p>
        <strong>
          {% if user.email %}{{user.email}}{% else %}Sem Email{% endif %}
        </strong>
      </p>
      <p>Verificado: <strong>{% if request.user.emailaddress.verified %}Sim{% else %}Não{% endif %}</strong></p>
      {% if not request.user.emailaddress.verified %}
      <a type="button" hx-get="{% url 'email_verification' %}" hx-target="#email-response" hx-swap="innerHTML">Verificar Email</a>
      <div id="email-response"></div>
      {% endif %}

    </div>
    <a type="button" id="email-edit"
      hx-get="{% url 'profile_email_change' %}"
      hx-target="#email-address"
      hx-swap="innerHTML" >
      Editar Email
    </a>
  </div>
  <div class="">
    <h2>Deletar Conta</h2>
    <a type ="button" href="{% url 'profile_delete' %}">Deletar minha conta</a>
  </div>
</main>
{% endblock content %}