{% load static %}
<div class="container-fluid navbar">
  <nav class="container">
    <ul>
      <li><a href="{% url 'index' %}">CTRL+CHAT</a></li>
      <li><a href="{% url 'profile' %}">Perfil</a></li>
      <li><a href="{% url 'profile_settings' %}">Configurações</a></li>
    </ul>
    <ul>
    <ul>
      {% if request.user.is_authenticated %}
      <li>
        <a href="{% url 'profile' %}">
          <img class="nav-pfp" src="{{request.user.profile.avatar}}" alt="Foto de Perfil de {{request.user.username}}">
        </a>
      </li>
      <li>
        <a class="btn" href="{% url 'logout' %}">Sair</a>
      </li>
      {% else %}
      <li>
        <a class="btn" href="{% url 'login' %}">Entrar</a>
      </li>
      <li>
        <a href="{% url 'register' %}?next={% url 'profile_onboarding' %}">Cadastra-se</a>
      </li>
      {% endif %}
    </ul>
    </ul>
  </nav>
</div>